// productlist页面和moneyctrl页面共用
.pages{
    text-align: center;
    .mui-pagination>li.mui-active>a{
        background-color: #ff841d;
        border-color: #ff841d;
        color: #fff;
    }
    .mui-pagination>li>a{
        color:#333;
    }
}
.productlist,
.title-product{
    li{
        padding: .24rem /* 12/50 */;
        border-bottom: 1px solid #ccc;
        .sales-list{
            display: flex;
            .pic{
                width: 2rem /* 100/50 */;
                height: 2rem /* 100/50 */;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .info{
                padding-left: .24rem /* 12/50 */;
                flex: 1;
                font-size: .24rem /* 12/50 */;
                position: relative;
                .price{
                    color: red;
                    padding-top: .28rem /* 14/50 */;
                }
                .others{
                    width: 100%;
                    padding-left: .24rem /* 12/50 */;
                    justify-content: space-between;
                    color: #ccc;
                    font-size: .24rem /* 12/50 */;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    span:nth-child(2){
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }
}