.header {
  background-color: #ff841d;
  display: flex;
}
.header .header-left,
.header .header-right {
  width: 1rem;
  height: 1rem;
}
.header .header-left a,
.header .header-right a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  font: 500 24px/1rem Aril;
  color: #fff;
}
.header .header-left a img,
.header .header-right a img {
  width: 0.68rem /* 34/50 */;
}
.header .header-center {
  flex: 1;
  font: 500 24px/1rem Aril;
  text-align: center;
  color: #fff;
}
.main {
  background-color: #eee;
}
.main .bcj-title .tab-outbox {
  width: 100%;
  background-color: #fff;
  overflow: auto;
}
.main .bcj-title .tab-outbox .tab-inbox .tab-content a {
  display: block;
  line-height: 0.72rem /* 36/50 */;
  font-size: 14px;
  color: #333;
  margin: 0 0.24rem /* 12/50 */;
}
.main .bcj-list ul .bcj-product {
  margin-top: 0.08rem /* 4/50 */;
  padding: 0.24rem /* 12/50 */;
  background-color: #fff;
}
.main .bcj-list ul .bcj-product a {
  display: flex;
}
.main .bcj-list ul .bcj-product a .bcj-product-pic {
  border: 1px solid #ccc;
  width: 130px;
  height: 130px;
}
.main .bcj-list ul .bcj-product a .bcj-product-pic img {
  width: 100%;
  height: 100%;
}
.main .bcj-list ul .bcj-product a .bcj-product-content {
  padding-left: 12px;
  flex: 1;
  position: relative;
}
.main .bcj-list ul .bcj-product a .bcj-product-content .text {
  font-size: 16px;
}
.main .bcj-list ul .bcj-product a .bcj-product-content .price {
  margin: 7px 0;
}
.main .bcj-list ul .bcj-product a .bcj-product-content .price .now-price {
  font-size: 20px;
  color: #fc353a;
  vertical-align: middle;
}
.main .bcj-list ul .bcj-product a .bcj-product-content .price .old-price {
  margin-left: 10px;
  font-size: 14px;
  color: #ccc;
  text-decoration: line-through;
  vertical-align: middle;
}
.main .bcj-list ul .bcj-product a .bcj-product-content .ticket i {
  display: inline-block;
  width: 100px;
  height: 18px;
  border-radius: 9px;
  border: 1px solid #fc353a;
  background-color: rgba(252, 53, 58, 0.4);
  color: #fff;
  text-align: center;
  font-weight: 500;
}
.main .bcj-list ul .bcj-product a .bcj-product-content .ticket span {
  color: #fc353a;
}
.main .bcj-list ul .bcj-product a .bcj-product-content .link span:nth-child(1) {
  margin-left: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.05rem /* 10/50 */;
  color: #fc353a;
  border: 1px dashed #fc353a;
}
.main .bcj-list ul .bcj-product a .bcj-product-content .link span:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.05rem /* 10/50 */;
  background-color: #fc353a;
  color: #fff;
  border-radius: 4px;
}
.go-top {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  position: fixed;
  right: 12px;
  bottom: 50px;
}
