.header {
  background-color: #ff841d;
}
.header .header-left {
  height: 1rem;
  padding: 0.24rem /* 12/50 */;
}
.header .header-left img {
  width: 3.71rem;
}
.header .header-right {
  height: 1rem;
  padding: 0.18rem /* 9/50 */ 0.24rem /* 12/50 */;
}
.header .header-right img {
  width: 0.68rem /* 34/50 */;
}
.brand-tip div {
  font-size: 16px;
  line-height: 40px;
  padding-left: 10px;
  margin: 10px 5px;
  color: #874604;
  border: 1px solid #cccccc;
  background-color: #eeeeee;
}
.brand .brand-title {
  border: 1px solid #ccc;
}
.brand .brand-title li .brand-menu-title {
  display: block;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 4px;
  border-bottom: 1px solid #ccc;
  padding: 0 0.24rem /* 12/50 */;
  font: 700 0.32rem/0.8rem aril;
}
.brand .brand-title li .brand-menu-title i {
  line-height: 0.8rem;
}
