html,
body {
  width: 100%;
  height: 100%;
}
.content {
  width: 100%;
  background-color: #fff;
}
.header {
  background-color: #ff841d;
}
.header .header-left {
  height: 1rem;
  padding: 0.24rem /* 12/50 */;
}
.header .header-left img {
  width: 3.71rem;
}
.header .header-right {
  height: 1rem;
  padding: 0.18rem /* 9/50 */ 0.24rem /* 12/50 */;
}
.header .header-right img {
  width: 0.68rem /* 34/50 */;
}
.search {
  height: 1rem /* 50/50 */;
  padding: 0.2rem /* 10/50 */ 0.24rem /* 12/50 */;
  display: flex;
  justify-content: space-between;
}
.search input {
  width: 5.6rem /* 280/50 */;
  height: 0.6rem /* 30/50 */;
  background-color: #f1f1f1;
  border-radius: 0.3rem /* 15/50 */;
  padding: 0px 0.2rem;
  font-size: 0.24rem /* 12/50 */;
}
.search button {
  width: 1.3rem /* 65/50 */;
  height: 0.6rem /* 30/50 */;
  background-color: #ff841d;
  color: #fff;
  border-radius: 0.3rem /* 15/50 */;
  font-size: 0.24rem /* 12/50 */;
}
.footer {
  padding-top: 0.24rem /* 12/50 */;
}
.footer .nav {
  display: flex;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.footer .nav .login,
.footer .nav .register,
.footer .nav .back-top {
  flex: 1;
  text-align: center;
  height: 0.68rem /* 34/50 */;
  line-height: 0.68rem /* 34/50 */;
  font-size: 14px;
}
.footer .nav .login img,
.footer .nav .register img,
.footer .nav .back-top img {
  width: 0.28rem /* 14/50 */;
  height: 0.28rem /* 14/50 */;
}
.footer .nav .register {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.footer .foot {
  padding: 0.2rem /* 10/50 */ 0;
}
.footer .foot p {
  text-align: center;
  font-size: 12px;
  color: #666;
}
.footer .foot p a:nth-child(1) {
  color: red;
}
