.menu {
  width: 100%;
}
.menu ul {
  padding-bottom: 0.3rem /* 15/50 */;
}
.menu ul li {
  width: 25%;
  text-align: center;
  margin-top: 0.3rem /* 15/50 */;
}
.menu ul li img {
  width: 1rem /* 50/50 */;
}
.menu ul li p {
  font-size: 0.24rem /* 12/50 */;
}
.menu ul li.conceal {
  display: none;
}
.title {
  width: 100%;
  height: 0.7rem /* 35/50 */;
  background-color: #FF9001;
  line-height: 0.7rem;
  font-size: 0.24rem;
  color: #fff;
  padding: 0 0.24rem /* 12/50 */;
  display: flex;
  justify-content: space-between;
}
.title img {
  width: 0.4rem /* 20/50 */;
  height: 0.4rem /* 20/50 */;
  margin-top: 0.14rem /* 7/50 */;
}
.title-product li {
  padding: 0.24rem /* 12/50 */;
  border-bottom: 1px solid #ccc;
}
.title-product li .sales-list {
  display: flex;
}
.title-product li .sales-list .pic {
  width: 2rem /* 100/50 */;
  height: 2rem /* 100/50 */;
}
.title-product li .sales-list .pic img {
  width: 100%;
  height: 100%;
}
.title-product li .sales-list .info {
  padding-left: 0.24rem /* 12/50 */;
  flex: 1;
  font-size: 0.32rem /* 16/50 */;
  position: relative;
}
.title-product li .sales-list .info .content .price {
  color: red;
}
.title-product li .sales-list .info .others {
  width: 100%;
  padding-left: 0.24rem /* 12/50 */;
  justify-content: space-between;
  color: #ccc;
  font-size: 0.24rem /* 12/50 */;
  position: absolute;
  left: 0;
  bottom: 0;
}
.title-product li .sales-list .info .others span:nth-child(2) {
  position: absolute;
  right: 0;
  bottom: 0;
}
.title-product button {
  display: block;
  background-color: #F4F4F4;
  width: 96%;
  height: 0.6rem /* 30/50 */;
  margin: 0.2rem /* 10/50 */ auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.title-brand {
  width: 100%;
  height: 100px;
}
