.productdetails h3 {
  padding: 0.24rem /* 12/50 */;
}
.productdetails .pro-img {
  text-align: center;
}
.productdetails .pro-img img {
  width: 3.4rem /* 170/50 */;
  height: 3.4rem /* 170/50 */;
}
.productdetails .pro-collect {
  padding: 0.24rem /* 12/50 */;
}
.productdetails .tab {
  display: flex;
  border-top: 1px solid #c14d00;
  border-bottom: 1px solid #c14d00;
}
.productdetails .tab li {
  flex: 1;
  text-align: center;
  background-color: #fb0;
}
.productdetails .tab li:nth-child(1) {
  background-color: orange;
}
.productdetails .tab li:nth-child(2) {
  border-left: 1px solid #c14d00;
  border-right: 1px solid #c14d00;
}
.productdetails .tab li a {
  display: block;
  color: #fff;
  font: 0.28rem/0.68rem '微软雅黑';
}
.productdetails .buy .buy-top {
  font: 0.28rem '微软雅黑';
  padding: 0.24rem /* 12/50 */;
  border-bottom: 1px solid #ccc;
}
.productdetails .buy .buy-top .buy-top-left {
  line-height: 0.56rem /* 28/50 */;
}
.productdetails .buy .buy-top .buy-top-left img {
  width: 0.28rem /* 14/50 */;
  height: 0.32rem /* 16/50 */;
}
.productdetails .buy .buy-top .buy-top-right .price {
  line-height: 0.56rem /* 28/50 */;
}
.productdetails .buy .buy-top .buy-top-right button {
  font: 0.24rem /* 12/50 */ '微软雅黑';
  border-radius: 4px;
  background-color: #ff5500;
  color: #fff;
}
.productdetails .buy .buy-bottom {
  padding: 0.24rem /* 12/50 */;
  color: #888;
  font: 0.24rem /* 12/50 */ '微软雅黑';
}
.productdetails .title-evaluate {
  padding: 0 0.24rem /* 12/50 */;
  font-size: 0.32rem /* 16/50 */;
}
.productdetails .pro-evaluate {
  padding: 0.24rem /* 12/50 */;
  font-size: 0.24rem /* 12/50 */;
  border-bottom: 1px solid #ccc;
}
